body {
  font-family: "Montserrat", sans-serif;
  padding-top: 140px;
}

.container {
  width: 1262px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.header {
  height: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: initial;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  z-index: 3;
}

.contacts {
  padding-right: 12px;
}

.contacts a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #000000;
  margin-left: 20px;
}

.header .contacts a:hover,
.header .contacts a:active {
  color: #0dc0a5;
}

.menu {
  position: fixed;
  left: 127px;
  top: 257px;
}

.menu p {
  margin-top: -14px;
  font-weight: 600;
}

.leaf {
  margin-left: 258px;
  /* padding-left: 215px;*/
}

.title-2 {
  font-family: Montserrat;
  font-size: 42px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  color: #0dc0a5;
}

.title-3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-transform: uppercase;

  color: #31396b;
  margin-bottom: 22px;
}

.title-4 {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  letter-spacing: 0em;
  color: #0dc0a5;
  margin: 0;
}

.title-5 {
  width: 325px;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  color: #0dc0a5;
  margin: 0;
}

form input {
  border: none;
  border-bottom: 2px solid #c4c4c4;
  outline: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  height: 30px;
  /* or 100% */
  color: #000000;
  padding: 0;
  margin-bottom: 20px;
  width: 100%;
}

form .half {
  width: 49%;
}

.chackbox {
  display: flex;
  width: 100%;
}

#yes {
  margin: 0;
  border-color: #c4c4c4;
  height: 15px;
  width: 15px;
}

.agriment {
  margin-left: 15px;
  margin-top: -3px;
}

.send {
  margin-top: 20px;
  margin-left: 325px;
}

.with-dash::before {
  content: "—— ";
  color: #0dc0a5;
  width: 1440px;
  height: 425px;
  top: 40px;
  left: 87px;
  margin-right: 10px;
}

.with-dash {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: right;
  text-decoration: none;
  color: #0dc0a5;
}

.back {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: black;
}

.back:before {
  content: "—— ";
  margin-right: 10px;
}

.back:hover,
.back-1:hover {
  color: #0dc0a5;
}
/*
@media (max-width: 48rem) {
  body {
    width: 48rem;
  }

  .container {
    width: 48rem;
  }

  .logo {
    position: fixed;
    margin-top: -30px;
    margin-left: 296px;
  }

  .contacts a {
    display: none;
  }

  .contacts a[href^="tel:"] {
    display: inline;
  }

  .menu {
    position: fixed;
    z-index: 3;
    margin-top: -210px;
    margin-left: -90px;
  }

  .section-1 {
    display: block;
  }
  .section-1 .page-1 p {
    display: none;
  }

  .section-1 img {
    width: 587px;
    height: 570px;
  }

  .section-2 {
    margin-top: 143px;
    display: block;
  }

  .section-2 h2 {
    white-space: nowrap;
  }

  .section-2 .element {
    width: 90%;
    padding-top: 38px;
    margin-left: 100px;
  }

  .section-3 {
    margin-top: 300px;
    display: block;
  }

  .section-3 .right img {
    width: 280px;
    margin-bottom: 30px;
  }

  .
} */
