
.news {
    /*margin-left: 258px;*/
    width: 64rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
}

.new_two, .new_four {
    margin-top: 4rem;
}
.number {
  font-family: Montserrat;
  font-size: 42px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
  color: #c4c4c4;
  margin-bottom: -27px;
  position: relative;
}

.blog_text {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
}
